# Gyro build stuff
modules/*.mod
*/*.o
*/*/*.a
*/*/*.o
*/*/*/*.a
*/*/*/*.o
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc

# Version tags
gyro/.VERSION
tgyro/.VERSION
neo/.VERSION

# Executables
gato/gato
gyro/src/gyro
neo/src/neo
neo/tools/squeeze/squeeze
neo/tools/vgen/vgen
shared/profiles_gen/src/prgen
shared/profiles_gen/locpargen/locpargen
shared/profiles_gen/exprotools/exprodump
shared/profiles_gen/exprotools/expromake
tglf/src/tglf
tglf/src/xtglf
tgyro/src/tgyro_main
