*~
.DS_Store
.idea
\#*\#

# Gyro build stuff
modules/*.mod
*/*.o
*/*/*.a
*/*/*.o
*/*/*/*.a
*/*/*/*.o
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc

# Old directory structure
neo/tools/vgen/

# OSX build stuff
*.dSYM/

# Version tags
gyro/.VERSION
cgyro/.VERSION
le3/.VERSION
tgyro/.VERSION
neo/.VERSION
le3/.VERSION

# Executables
gato/gato
glf23/src/glf23
gks/src/gks_analysis
gyro/src/gyro
cgyro/src/cgyro
le3/src/le3
le3/profiles_3d/profiles_3d
neo/src/neo
vgen/src/vgen
shared/profiles_gen/src/prgen
shared/profiles_gen/locpargen/locpargen
shared/profiles_gen/exprotools/exprodump
shared/profiles_gen/exprotools/create
shared/profiles_gen/exprotools/expromake
tglf/src/tglf
tglf/src/tglf_mpi
tglf/src/tglf_driver_mpi
tgyro/src/tgyro_main
xptor/driver/xptor
le3/src/le3
le3/profiles_3d/profiles_3d

# Regression logs and directories
*.log
*regression_test/

# local working files not to be shared
tmp.py