*~

shared/neural

# Object files and modules
modules/*.mod
modules/*genmod*
*/*.o
*/*/*.a
*/*/*.o
*/*/*/*.a
*/*/*/*.o
*/*/*/*/*.o
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
cgyro/src/*.gpu
cgyro/src/*.h

# OSX garbage
*.dSYM/
.DS_Store
.idea
\#*\#

# Version tags
gyro/.VERSION
cgyro/.VERSION
le3/.VERSION
tgyro/.VERSION
neo/.VERSION
le3/.VERSION

# Executables
gato/gato
glf23/src/glf23
gyro/src/gyro
cgyro/src/cgyro
cgyro/tools/globalmap/src/globalmap
neo/src/neo
neo/tools/pneo/src/pneo
neo/tools/pneo/src/pneo_rbf
vgen/src/vgen
profiles_gen/src/prgen
profiles_gen/locpargen/locpargen
profiles_gen/exprotools/exprodump
profiles_gen/exprotools/create
profiles_gen/exprotools/expromake
tglf/src/tglf
tglf/src/tglf_mpi
tglf/src/tglf_driver_mpi
tgyro/src/tgyro_main
le3/src/le3
le3/profiles_3d/profiles_3d
quick/src/quick

# Regression logs and directories
*.log
*regression_test/

# local working files not to be shared
tmp.py

*.optrpt

# Legacy directories
shared/profiles_gen
